.bod {
    background-color: #E0F190;
    margin: 20px;
}

.btn {
    color: #000000;
    border: 2px black solid;
    height: 40px;
    width: 80px;
}

.zero {
    background-color: #ff0000;
}

.buttonMovement {
    color: #000000;
    background-color: #ff0000;
    border: 2px black solid;
    height: 40px;
    width: 80px;
}

.inc {
    background-color: #fc7d7d;
}

.dec {
    background-color: #88fc7d;
}

.turn {
    background-color: #f0ff9d;
}

.message-text {
    font-size: 12px;
    font-family: Courier New, Courier, monospace;
}