<div>
        <button (click)="clickAction('zero')">Zero</button>
        <button (click)="clickAction('stop')">Stop</button>
    </div>
    <div>
        <div>
            <button (click)="clickAction('incspeed')">Inc Speed</button>
            <button (click)="clickAction('decspeed')">Dec Speed</button>
        </div>
        <div>
            <button (click)="clickAction('left')">Wheels Left</button>
            <button (click)="clickAction('right')">Wheels Right</button>
        </div>
    </div>