@import "../constants";


.bod {
	background-color: #999999;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.input-area {
    flex-grow: 1;
    min-height: 100vh;
    background-color: #E09A9A;
}

.output-area {
    flex-grow: 1;
    background-color: #7AA1EB;
}